Django==4.1.6
geoip2==4.7.0
requests
httpx
beautifulsoup4
gevent
pyyaml
lxml
mmh3
psycopg2-binary
django-db-connection-pool
celery[redis]==5.4.0
esprima
aiohttp
aiohttp-socks
PySocks
Pillow
openai
dashscope
py7zr
gunicorn
xxhash
